.btn{
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:hover{
        cursor:pointer;
        opacity: 0.8;
    }
}

.primary{
    background-color: red;
}

.secondary{
    background-color: salmon;
}